.three-container {
    position: absolute;
    color: white;
    right: 0px;
    top: 11px;
}

.three-container-link a {
    display: inline-block;
    margin: 0 11px;
}

.three-container-select-prefix {
    position: relative;
    top: 1px;
    left: 13px;
    width: 11px;
    height: 12px;
    z-index: 99999;
}

.dg .a {
    margin-right: 15px;
    overflow-y: visible;
    float: left;
    position: absolute;
    top: 60px;
}